body {
    background-color: black;
}

.monospace {
  font-family: Courier, "Lucida Console", monospace;
  color: #FFB000;
  text-align: center;
}

.monopara {
  font-family: Courier, "Lucida Console", monospace;
  color: #FFB000;
  text-align: initial;
  margin: 2%;
}

.monolink {
  font-family: Courier, "Lucida Console", monospace;
  color: #FFB000;
  text-align: initial;
  margin: 2%;
  text-decoration: none
}

.monolink:hover {
    background-color: #FFB000;
    color: black;
}

.border {
  position: fixed;
  top: 0;
  left: 0;
  border: 6px double #FFB000;
  border-radius: 30px;
  width: 98%;
  height:  98%;
  margin: 1%;
  box-sizing: border-box;
  z-index: -1;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #FFB000;    }
    49%{    color: #FFB000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}


h1 {
    color: #FFB000;
}
