body {
    background-color: black;
}

.monospace {
  font-family: Courier, "Lucida Console", monospace;
  color: #FFB000;
  text-align: center;
}

.monopara {
  font-family: Courier, "Lucida Console", monospace;
  color: #FFB000;
  text-align: initial;
  margin: 2%;
}

.border {
  position: fixed;
  top: 0;
  left: 0;
  border: 6px double #FFB000;
  border-radius: 30px;
  width: 98%;
  height:  98%;
  margin: 1%;
  box-sizing: border-box;
  z-index: -1;
}

h1 {
    color: #FFB000;
}

h1:hover {
    background-color: #FFB000;
    color: black;
    margin-left: 5%;
    margin-right: 5%;
}