body {
    background-color: black;
    border: 2px double;
}

.monospace {
  font-family: Courier, "Lucida Console", monospace;
  color: #FFB000;
}

.border {
  position: fixed;
  top: 0;
  left: 0;
  border: 6px double #FFB000;
  border-radius: 30px;
  width: 98%;
  height:  98%;
  margin: 1%;
  box-sizing: border-box;

h1 {
    color: #FFB000;
}